* {
  text-decoration: none;
}
p {
  margin-bottom: 0px;
}
.header-outer{
  background-color: rgba(255, 68, 0, 0.89);
  
  
}
body{
  background-color: rgb(239, 240, 245);
  font-family: Arial, Helvetica, sans-serif;
}
li:hover{
  cursor: pointer;
}
.header {

  display: flex;
  margin-bottom: 0px;
  margin-top: 1px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1190px;
  margin: auto;
}

.header > *:first-child {
  margin-left: 30px;}

#shopnow {
  padding: 10px 30px 10px 30px;
  border-radius: 16px;
  border: none;
  color: rgba(255, 68, 0, 0.89);
  font-weight: bold;
  font-size: larger;
  margin-bottom: 1px;
}
#shopnow:hover{
  background-color:rgb(194, 194, 194);
}
#shopnow:active{
  border: 1px solid black;
}
.header2 {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  justify-content: space-around;
  width: 1190px;
  margin: auto;
  
}
.sbar{
  height: 45px;
}
.header2 a{
  color: black;
   
}
.header2-outer{
  background-color: rgba(158, 158, 158, 0.2);


}
.search-bar-outer{
  background-color: white;
}
.search-bar {
  display: flex;
  height: 70px;
  width: 1190px;
  margin:auto;
  padding-top: 8px;
  }
.search-bar > *:first-child {
  margin-right: 100px;
}
.logoo{
  margin-top: auto;
  margin-bottom: auto;
  width:135px;
  height:40px;
}
.main-body {
  display: flex;
  flex-direction: row;
  width: 1118px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width:1190px;
  margin-bottom: 10px;

}
.left{
  background-color: white;
  height: 346px;
  width: 220px;

}
.left a {
  width: 172px;
  color: #757575;
  margin-left: 25px;
  line-height: 25px;
}
.main-body :hover {
  color: #1a9cb7 ;  
}

.right {
  width: 988px;
  height: 344px;
  
}

.flexbox {
  height: 290px;
  width: 188px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.flexbox:hover {
  cursor: pointer;
  outline: 1px solid black;
}
.thumbNail {
  height: 188px;
  width: 188px;
}
.pName {
  height: 36px;
  width: 172px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  text-align: center;
}
.pPrice {
  height: 22px;
  width: 172px;
  margin-left: auto;
  margin-right: auto;
  color: orange;
  font-size: 18px;
  line-height: 22px;
}
.price-section {
  height: 12px;
  width: 172px;
  margin-left: auto;
  margin-right: auto;
}
.dPrice {
  text-decoration: line-through;
  color: grey;
  font-size: 12px;
  line-height: 14px;
}
.price-section {
  display: flex;
  font-size: 12px;
  line-height: 12px;
}
.product-section {
  display: flex;
  flex-wrap: wrap;
  width: 1190px;
  margin: auto;
}

img {
  height: 100%;
  width: 100%;
}

#button-loadmore {
  font-family: Roboto-Medium;
  width: 387px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #f85606;
  border: 1px solid #f85606;
  text-transform: uppercase;
  cursor: pointer;
  size: 500px;
  border-radius: 10px;
}
.button-loadmore {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

ul {
  list-style: none;
  padding-left: 2px;
}


.footer {
  background-color: #2e2e54;
  margin-top: 10px;
  color: white;
}
.footer a{
  color: white;
}
.footer-inner {
  width: 1190px;
  padding: 0 10px 10px 10px;
  display: flex;
  overflow: hidden;
  margin: auto;
}
.foot {
  width: 25%;
}
.foot-mid {
  width: 25%;

}
.foot-end {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.foot-end-upper {
  display: flex;
  margin-top: 10px;

  
}

#qr {
  height: 100px;
  width: 100px;
}


.dlogo {
  height: 42px;
  width: 42px;
  margin-left: 10px;
}
.logontext{
  margin-left: 10px;
}
.logontext p {
  padding: 0px;
  margin: 2px;
}
.download-logos {
  height: 40px;
  display: flex;
  margin-top: 10px;
}
.thumbNail:active{
  transform: scaleX(-1);

}

#button-loadmore:hover{
background-color: #e0e0e0;
}
#button-loadmore:active{
  border: 3px solid;
}

.health-sub{
  display: none;
  position: absolute;
  margin-left: 218px;
  margin-top: -40px;
  background-color:white;
  color: black;
  border-radius: 10px;
  width: 200px;
  line-height: 25px;
  color: #757575;
  height: 328px;
  padding: 10px;
  padding-right: 0px;
}

.health:hover > .health-sub {
  display: block;
  float: right;

}
.health-bath-sub-last, .health-beauty-sub-last{
  display: none;
  position: absolute;
  margin-left: 200px;
  background-color: white;
  width: 741px;
  margin-top: -35px;
  height: 328px;
  padding: 10px;
  border-radius: 10px;
 
}
.health-bath-sub:hover > .health-bath-sub-last{
  display: block;
}
.health-beauty-sub-last{
  margin-top: -60px;
}
.health-beauty-sub:hover > .health-beauty-sub-last{
  display: block;
}
a  
  

